{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"],
//   "plugins": [
//     [
//       "transform-runtime",
//       {
//         "polyfill": false,
//         "regenerator": true
//       }
//     ]
//   ]
// }
